<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BookMapper">
    <insert id="insertBook">
        INSERT INTO TEST_BOOK(BOOK_ID, TITLE, LINK, AUTHOR, DESCRIPTION, PUB_DATE, COVER)
        VALUES (SEQ_BOOK.nextval, #{title}, #{link}, #{author} , #{description} , #{pubDate}, #{cover})
    </insert>
</mapper>